body {
	display: flex;
	flex-direction: column;
	font-family: "Anonymous Pro", monospace;
	font-size: 24px;
	background-color: #121212;
	color: #FFFFFF;
}

#container {
	max-width: 80%;
}

a {
	text-decoration: none;
	color: dodgerblue;
}

code {
	color: cornflowerblue;
}
